#!/bin/bash

export ONOS_ROOT={{ ONOS_ROOT }}
source $ONOS_ROOT/tools/dev/bash_profile
export JAVA_HOME={{ JAVA_HOME }}
export JRE_HOME={{ JRE_HOME }}
export KARAF_ROOT={{ KARAF_ROOT }}
export M2_HOME={{ M2_HOME }}
export ONOS_USER={{ ONOS_USER }}
export ONOS_GROUP={{ ONOS_GROUP }}
export ONOS_CELL={{ ONOS_CELL }}
export PATH=$PATH:$M2_HOME/bin
cell $ONOS_CELL
